
body{
	background: #ddd
}

.sub{
	position: relative;
	background: #fff;
	padding: 20px;
	margin-top: 15px;
	color: #666;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.2)
}



.loader{
	width: 25px !important;
	height: 25px !important;
}

.sub .details{
	padding-top: 10px;
}

.sub .remove{
	top: 10px;
	right: 10px;
	padding: 10px;
	cursor: pointer;  
	position: absolute;
}
.sub .remove:hover{
	color: red;
}